    
    body {
        /*background: url('../../img/test.jpg') !important;*/
        /*background-color:#0094ff!important;*/
        /*background-repeat: repeat-y !important;
        background-position:center center !important;
        background-attachment:scroll !important;
        background-size:cover !important;*/
    }

                
        